.footer{
    background-color: #242424;
    border-bottom: 1px solid black;
    
    margin-top:10px;
    width:100%;
}

.footerOpt{
    display:flex;
   
    
}
.footertxt{
    font-weight: 300;
    font-size: 12px;
    color:#bababa;
    padding:15px;
}

.logo{
    /* flex-grow: 1; */
    padding:8px;

}
